@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .hero-ring {
    @apply absolute inset-0 border-2 
    top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full 
    border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
  }
}

@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border 
    border-b-[1px] border-transparentborder-b-textGreen py-3 px-2 outline-none 
    focus-within:border-[1px] focus-within:border-textGreen duration-100 
    bg-zinc-800;
  }

  .circle{
    @apply relative w-[250px] h-[250px] bg-[#999] rounded-[50%]
    before:content-[""] before:absolute before:inset-[-10px_90px]
    before:bg-textGreen before:hover:inset-[-20px_0px] overflow-hidden
    before:transition-all transition duration-[0.5s] before:animate-spin before:[animation-duration:10s]
    after:content-[""] after:absolute after:inset-[6px] after:bg-[#162052]
    after:rounded-[50%] after:z-1
  }

  .content{
    @apply absolute inset-[30px] border-[6px] border-[#070a1c] rounded-[50%]
    overflow-hidden z-3 
  }

  .contentImg{
    @apply absolute top-0 left-0 w-full h-full object-cover transition 
    duration-[0.5s] pointer-events-none
  }
  
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}
.active {
  color: #64ffda;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

